<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>56515905477-oljrptjql9qlbei5dtl7lsms8kp0eb1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56515905477-oljrptjql9qlbei5dtl7lsms8kp0eb1t</string>
	<key>API_KEY</key>
	<string>AIzaSyAdSVoDUKbV6L5Pz0h77kNJHtJKjS5q4Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>56515905477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cordova.quasar.app</string>
	<key>PROJECT_ID</key>
	<string>quasar-boilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>quasar-boilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56515905477:ios:5d7e26c46b9c1aa6</string>
	<key>DATABASE_URL</key>
	<string>https://quasar-boilerplate.firebaseio.com</string>
</dict>
</plist>